@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
}

.main-app>div {
    max-width: 1920px;
    width: 100%;
}

.dark {
    --color-bg-primary: #050d32;
    --color-bg-secondary: rgba(255, 255, 255, 0.05);
    --color-bg-thirdry: #23284e;
    --color-bg-fourth: #11193C;
    --color-bg-fifth: #12193c;
    --color-bg-overlay: #101b30;
    --color-bg-table-row: #1b1f3e;
    --color-bg-success: #24a148;
    --color-bg-danger: #fa4d56;
    --color-bg-manta-gray: #acacb4;
    --color-bg-button-primary: #0d7bc5;
    --color-bg-button-secondary: #2B49EA;
    --color-bg-button-thirdry: #00AFA5;
    --color-bg-button-fourth: #0E50FC;
    --color-text-primary: #ffffff;
    --color-text-secondary: #a4a3a7;
    --color-text-thirdry: #ffffff;
    --color-text-accent: #ffffff;
    --color-text-warning: #e96e79;
    --color-manta-blue: #239CFF;
    --color-fill-secondary: #ffffff;
    --color-border-primary: #6eaed7;
    --color-border-secondary: #595f6d;
    --gradient-bg-primary: linear-gradient(to bottom right, #00182a, #000011);
    --gradient-button-primary: linear-gradient(to right, #26c8bf, #1fa2f9);
    --gradient-button-secondary: linear-gradient(90.17deg, #2B49EA -7.65%, #00AFA5 103.69%);
}

.light {
    --color-bg-primary: #f2f2f4;
    --color-bg-secondary: #ffffff;
    --color-bg-thirdry: #f2f2f4;
    --color-bg-fourth: #61abb9;
    --color-bg-fifth: #12193c;
    --color-bg-overlay: #e3e4e8;
    --color-bg-table-row: #f9fbfd;
    --color-bg-success: #24a148;
    --color-bg-danger: #fa4d56;
    --color-bg-manta-gray: #7e7e7e;
    --color-bg-button-primary: #0d7bc5;
    --color-bg-button-secondary: #2B49EA;
    --color-bg-button-thirdry: #00AFA5;
    --color-bg-button-fourth: #0E50FC;
    --color-text-primary: #104ea1;
    --color-text-secondary: #212f41;
    --color-text-thirdry: #070707;
    --color-text-accent: #33385f;
    --color-text-warning: #ef9f9f;
    --color-manta-blue: #239CFF;
    --color-fill-secondary: #889ebc;
    --color-border-primary: #6eaed7;
    --color-border-secondary: #595f6d;
    --gradient-bg-primary: linear-gradient(to bottom right, #b0d2eb, white);
    --gradient-button-primary: linear-gradient(to bottom right, #26c8bf, #1fa2f9);
    --gradient-button-secondary: linear-gradient(90.17deg, #2B49EA -7.65%, #00AFA5 103.69%);
}

.custom-colors {
    --color-fill-primary: #4caaac;
    --color-fill-gray: #889ebc;
    --color-text-gray: #7e7e7e;
}

.custom-width {
    --min-width-layout: 450px;
    --min-width-table: 1024px;
    --min-width-md: 700px;
    --min-width-lg: 1200px;
}


/* .btn-animation {
  @apply transition duration-100 ease-in-out transform hover:-translate-y-1;
} */