.btn-primary {
  background: $blue-primary-bgcolor !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.btn-white {
  background: #ffffff;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  color: $blue-primary-color;
}

.btn-disabled {
  cursor: not-allowed;
}

.light .btn-unreleased {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.15) !important;
}

.btn-unreleased {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.5) !important;
}

.public-private-toggle {
  display: flex;
  justify-content: center;
}

input[type='radio'] + label span {
  transition: background 0.2s, transform 0.2s;
  background-color: white;
}

input[type='radio'] + label span:hover,
input[type='radio'] + label:hover span {
  transform: scale(0.8);
}

input[type='radio']:checked + label span {
  background-color: #3490dc; //bg-blue
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type='radio']:checked + label {
  color: #3490dc; //text-blue
}
