.btn-primary {
    background: $blue-primary-bgcolor;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.btn-white {
    background: #ffffff;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    color: $blue-primary-color;
}