@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');
@import url('https://rsms.me/inter/inter.css');

.wrap-text {
  inline-size: 21rem;
  overflow-wrap: break-word;
}