.manta-blue {
  color: $blue-primary-color;
}
.manta-prime-blue {
  color: $blue-primary-color;
}
.manta-green {
  color: $green-primary-color;
}
.manta-gray {
  color: $gray-light-color;
}
.manta-dark-gray {
  color: $gray-dark-color;
}
.text-blue-thirdry {
  color: $blue-thirdry-color;
}